html {
    overflow-x: hidden;
    height: 4111px;
    margin-left: 128px;
    margin-right: 128px;
}


body {
    font-family: Helvetica, sans-serif;
    margin: 0;

    margin-bottom: 1000px;
    background-image: url("caseStudy.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;

}

header {
    padding-top: 36px;
    /* padding-left: 128px;
    padding-right: 128px; */
    display: flex;
    justify-content: right;

}

main {
    padding-left: 128px;
    padding-right: 128px;

}

h1 {
    font-size: 48px;
    font-weight: 650;
    margin: 0;
    position: relative; 
    padding: 4px;
    padding-left: 6px;

}

p {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    position: relative;
    padding: 4px;
    padding-left: 6px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 6px;
    padding-top: 2px;
}

li a {
    margin-left: 32px;
    color: black;
    font-weight: 600;
}
